# Sesi√≥n 03: Preparaci√≥n de datos
Dificultad üòÄüòÄüòÄüòÄ (f√°cil)  
Uso de c√≥digo: üêçüêç (poco)

## 3.1 Selecci√≥n de filas y columnas
El archivo "hoteles-vienna.xlsx" contiene informaci√≥n de hoteles con habitaciones disponibles para cierto fin de semana. Aunque tenemos varias variables, solamente utilizaremos las siguientes:
- hotel_id: es un identificador que reemplaza el nombre del hotel por razones de confidencialidad. [Culitativas Nominales]
- accommodationtype: tipo de hospedaje [nominal]
- price: precio. [Cuantitativa de Razon]
- center1distance: distancia al centro [Cuantitativa de Razon]
- starrating: calificaci√≥n de 1 a 5 estrellas (m√°s es mejor).  [cualitativa Ordinal]
- guestreviewsrating: calificaci√≥n promedio otorgada por los clientes. [Cunatitativa de intervalo]

- Discrtos:Entre dos valores cualquiera hay una cantidad finita de datos
- Continuos: Entre dos valores cualquiera hay una cantidad infinita de datos
- Longitudinales:Series de datos
- Corte de transversal: en un punto en el tiempo

In [1]:
# Importa la biblioteca de pandas
import pandas as pd

In [2]:
# Carga el archivo 'data/hotelbookingdata-vienna.xlsx'
df = pd.read_excel('data/hoteles-viena.xlsx')

In [3]:
variables = ["hotel_id", "accommodationtype", "price", "center1distance",
             "starrating", "guestreviewsrating"]
# Selecciona las variables del listado en el dataframe
df = df[variables]

La base de datos abarca diferentes tipos de hospedajes. En un dataframe llamad 'df' podemos consultar qu√© categor√≠as tiene una variable "A" y con qu√© frecuencia aparece mediante `df['A'].value_counts()`

In [4]:
# Obt√©n la frecuencia por tipo de hospedaje
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 430 entries, 0 to 429
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_id            430 non-null    int64
 1   accommodationtype   430 non-null    object
 2   price               430 non-null    int64
 3   center1distance     430 non-null    float64
 4   starrating          430 non-null    float64
 5   guestreviewsrating  395 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 20.3+ KB

In [5]:
# Selecciona las filas correspondientes a hoteles
df = df[df['accommodationtype'] == 'Hotel']

In [6]:
# Consulta la informaci√≥n de las variables
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 266 entries, 1 to 428
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_id            266 non-null    int64
 1   accommodationtype   266 non-null    object
 2   price               266 non-null    int64
 3   center1distance     266 non-null    float64
 4   starrating          266 non-null    float64
 5   guestreviewsrating  265 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.5+ KB

In [7]:
# Revisa las primeras cinco filas
df.head(5)

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
1,21897,Hotel,81,1.7,4.0,3.95
2,21901,Hotel,85,1.4,4.0,3.75
3,21902,Hotel,83,1.7,3.0,45.00
4,21903,Hotel,82,1.2,4.0,3.95
6,21906,Hotel,103,0.9,4.0,3.95

In [8]:
# Revisa las primeras cinco filas
df.tail(5)

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
423,22402,Hotel,95,1.5,4.0,4.15
424,22403,Hotel,73,1.5,3.0,3.45
426,22406,Hotel,185,0.8,5.0,4.35
427,22407,Hotel,100,1.0,4.0,4.45
428,22408,Hotel,58,1.4,3.0,3.25

In [9]:
df.sample(5)

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
355,22321,Hotel,140,7.8,4.0,3.55
105,22026,Hotel,127,0.8,4.0,45.00
203,22140,Hotel,79,1.3,4.0,3.75
354,22320,Hotel,99,7.7,3.0,3.75
118,22039,Hotel,371,0.5,5.0,4.65

In [10]:
df['accommodationtype'].count

<bound method Series.count of 1      Hotel
2      Hotel
3      Hotel
4      Hotel
6      Hotel
       ...
423    Hotel
424    Hotel
426    Hotel
427    Hotel
428    Hotel
Name: accommodationtype, Length: 266, dtype: object>

## 3.2 Datos duplicados
En algunas ocasiones puede haber datos duplicados en nuestra base de datos. Para visualizar los datos duplicados podemos usar *duplicated()* de la siguiente manera:
`df[df.duplicated()]`. Si nos interesa en la variable "A" en particular encontonces es `df[df['A'].duplicated()]`

In [11]:
# Identifica los datos duplicados en todas las variables 
df[df.duplicated()]

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
129,22050,Hotel,242,0.0,4.0,4.85
242,22185,Hotel,84,0.8,3.0,2.25

Una opci√≥n para eliminar datos duplicados es usar *drop_duplicates()*. En nuestro ejemplo ser√≠a: `df.drop_duplicates()`. Esto s√≥lo elimina observaciones filas duplicadas en todas las variables.De manera predeterminada, solamente conserva la primera fila de ellas.  
En algunas ocasiones necesitaremos eliminar observaciones duplicadas en solamente algunas variables. En ese caso se puede agregar un listado con el argumento *subset*. En nuestro ejemplo: `df.drop_duplicates(subset=['hotel_id'])`

In [12]:
# Elimina las observaciones duplicadas
df = df.drop_duplicates()

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 1 to 428
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_id            264 non-null    int64
 1   accommodationtype   264 non-null    object
 2   price               264 non-null    int64
 3   center1distance     264 non-null    float64
 4   starrating          264 non-null    float64
 5   guestreviewsrating  263 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.4+ KB

## 3.3 Datos perdidos
Cuando se presentan datos perdidos, es necesario evaluar si los datos perdidos se puede considerar aleatorios o no aleatorios.

# se considera datos perdidos es de 5% razonable a 10% grabe
# problema metodologico

In [14]:
# Identifica qu√© variables tienen valores perdidos con 'info()'
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 1 to 428
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_id            264 non-null    int64
 1   accommodationtype   264 non-null    object
 2   price               264 non-null    int64
 3   center1distance     264 non-null    float64
 4   starrating          264 non-null    float64
 5   guestreviewsrating  263 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.4+ KB

Para identificar las filas con datos perdidos podemos usar `df[df.isna().any(axis=1)]`. El m√©todo *isna()* sirve para indicar qu√© valores son perdidos y el m√©todo *any* sirve para indicar qu√© filas tienen al menos un valor perdido.

In [15]:
# Identifica qu√© observaciones tienen datos perdidos 
# ¬øQu√© caracter√≠stica tienen en com√∫n la mayor√≠a?
df[df.isna().any(axis=1)]

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
14,21916,Hotel,106,0.7,2.5,NaN

Los m√©todos m√°s comunes para tratar con datos perdidos son:
- Borrar filas o columnas con datos perdidos.
- Agregar una variable que distinga los datos perdidos.
- Imputaci√≥n simple: Reemplazar los datos perdidos con un valor calculado a partir de la misma variable.
- Imputaci√≥n multivariada: Reemplazar los datos perdidos con un valor calculado a partir de otras variables.  

**Imputaci√≥n univariada**  
La pr√°ctica m√°s com√∫n es reemplazar los valores con la media, mediana o moda. Una opci√≥n es utilizar la biblioteca de pandas. La imputaci√≥n con la media para una columna 'A' es:  
`df['A'] = df['A'].fillna(df['A'].mean())`  
La imputaci√≥n con la mediana es  
`df['A'] = df['A'].fillna(df['A'].median())` 
La imputaci√≥n con la moda es:  
`df['A'] = df['A'].fillna(df['A'].mode().iloc[0])` 

Utiliza la media para reemplazar valores perdidos

In [16]:
# Consulta las variables que tienen datos perdidos con 'info()'

In [17]:
# Reemplaza los valores perdidos con la media
df['guestreviewsrating'] = df['guestreviewsrating'].fillna(df['guestreviewsrating'].mean())

In [18]:
df[df.isna().any(axis=1)]

Empty DataFrame
Columns: [hotel_id, accommodationtype, price, center1distance, starrating, guestreviewsrating]
Index: []

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 264 entries, 1 to 428
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_id            264 non-null    int64
 1   accommodationtype   264 non-null    object
 2   price               264 non-null    int64
 3   center1distance     264 non-null    float64
 4   starrating          264 non-null    float64
 5   guestreviewsrating  264 non-null    float64
dtypes: float64(3), int64(2), object(1)
memory usage: 14.4+ KB

In [20]:
# Utilizando 'describe()' obt√©n las principales medidas num√©ricas de resumen
df.describe()

,hotel_id,price,center1distance,starrating,guestreviewsrating
count,264.000000,264.000000,264.000000,264.000000,264.000000
mean,22161.590909,129.931818,1.687500,3.609848,11.330989
std,147.742786,103.565794,1.794869,0.743321,15.398060
min,21897.000000,33.000000,0.000000,1.000000,2.250000
25%,22030.750000,81.750000,0.700000,3.000000,3.950000
50%,22169.500000,102.000000,1.100000,4.000000,4.350000
75%,22290.000000,138.250000,1.925000,4.000000,4.550000
max,22408.000000,1012.000000,13.000000,5.000000,45.000000

Un dataframe lo podemos guardar con `df.to_excel('carpeta/archivo.xlsx', index=False)`

In [21]:
# Exporta el dataframe depurado a la carpeta 'output'
df.to_excel('output/hoteles-viena.xlsx', index=False)

## 3.4 Valores at√≠picos
Los valores at√≠picos son valores muy alejados de la tendencia central de los datos. No es recomendable su eliminaci√≥n autom√°tica, sino su revisi√≥n para evaluar si son parte o no de la muestra. Un m√©todo sencillo que podemos utilizar es el m√©todo del valor z.

In [22]:
from scipy.stats import zscore

datos = df['price']
z_scores = zscore(datos)
valores_atipicos_z = df[abs(z_scores)>3]
valores_atipicos_z

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
55,21969,Hotel,513,0.3,5.0,4.85
61,21976,Hotel,806,0.3,5.0,4.55
87,22006,Hotel,544,0.5,5.0,4.85
172,22100,Hotel,527,0.4,5.0,4.85
223,22164,Hotel,587,0.7,5.0,15.00
302,22252,Hotel,1012,1.0,3.0,4.35

In [23]:
import numpy as np

datos = df['price']
q1 = np.percentile(datos, 25)
q3 = np.percentile(datos, 75)
iqr =q3-q1
limite_inf= q1-1.5*iqr
limite_sup= q3+1.5*iqr
valores_atipicos_iqr = df[(datos<limite_inf) | (datos>limite_sup)]
valores_atipicos_iqr

,hotel_id,accommodationtype,price,center1distance,starrating,guestreviewsrating
53,21967,Hotel,299,0.1,5.0,4.55
55,21969,Hotel,513,0.3,5.0,4.85
61,21976,Hotel,806,0.3,5.0,4.55
72,21989,Hotel,261,0.3,5.0,4.85
87,22006,Hotel,544,0.5,5.0,4.85
88,22007,Hotel,252,0.5,5.0,4.65
89,22008,Hotel,323,0.5,5.0,4.55
109,22030,Hotel,226,0.5,5.0,4.35
110,22031,Hotel,231,0.1,4.0,4.45
115,22036,Hotel,384,0.6,5.0,4.85
118,22039,Hotel,371,0.5,5.0,4.65
128,22050,Hotel,242,0.0,4.0,4.85
165,22092,Hotel,354,0.4,5.0,4.55
172,22100,Hotel,527,0.4,5.0,4.85
223,22164,Hotel,587,0.7,5.0,15.00
232,22175,Hotel,240,0.4,5.0,4.55
249,22193,Hotel,383,1.9,3.0,45.00
291,22240,Hotel,333,0.7,5.0,4.95
302,22252,Hotel,1012,1.0,3.0,4.35

## 3.5 Pr√°ctica 01

En el notebook 'Practica_S0301', carga la base de datos de hoteles de una ciudad diferente (Londres, Mil√°n, Roma). Selecciona las variables utilizadas en el ejemplo y las filas correspondientes a los hoteles. Luego elimina duplicados y consulta y reemplaza datos perdidos en las variables num√©ricas. Compara los resultados de esa ciudad con Viena.

In [33]:
df.describe()

,hotel_id,price,center1distance,starrating,guestreviewsrating
count,264.000000,264.000000,264.000000,264.000000,264.000000
mean,22161.590909,129.931818,1.687500,3.609848,11.330989
std,147.742786,103.565794,1.794869,0.743321,15.398060
min,21897.000000,33.000000,0.000000,1.000000,2.250000
25%,22030.750000,81.750000,0.700000,3.000000,3.950000
50%,22169.500000,102.000000,1.100000,4.000000,4.350000
75%,22290.000000,138.250000,1.925000,4.000000,4.550000
max,22408.000000,1012.000000,13.000000,5.000000,45.000000