# A2: Comparación de Campañas Cotrol/Test

El archivo "b08_practica" contiene las siguientes variables de un experimento en el cual se compararon dos campañas ('control' y 'test') para ventas en línea:  
- Campaña: Nombre de la campaña.
- Fecha: Día del registro.
- Gasto: Cantidad gastada en la campaña en dólares.
- Impresiones: Número de impresiones del anuncio a través de la campaña
- Alcance: Número de impresiones únicas recibidas por el anuncio
- Búsquedas: Número de usuarios que realizaron búsquedas en el sitio web.
- Vistas: Número de usuarios que vieron contenido y productos en el sitio web.
- NumCarritos: Número de usuarios que agregaron productos al 'carrito'.
- Compras: Número de compras

Compara las diferentes métricas y aconseja cuál campaña de publicidad es mejor

In [1]:
# Importacion de librerias
import pandas as pd
from scipy.stats import ttest_ind as ti
from scipy.stats import mannwhitneyu as mw

In [2]:
# Varaibles del dataset son:
df = pd.read_excel('data/b08_practica.xlsx')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 10 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Campaña      59 non-null     object
 1   Fecha        59 non-null     datetime64[ns]
 2   Gasto        59 non-null     int64
 3   Impresiones  59 non-null     int64
 4   Alcance      59 non-null     int64
 5   Clicks       59 non-null     int64
 6   Busquedas    59 non-null     int64
 7   Vistas       59 non-null     int64
 8   NumCarritos  59 non-null     int64
 9   Compras      59 non-null     int64
dtypes: datetime64[ns](1), int64(8), object(1)
memory usage: 4.7+ KB

In [3]:
# Estadística descriptiva de las variables
df.describe()

,Fecha,Gasto,Impresiones,Alcance,Clicks,Busquedas,Vistas,NumCarritos,Compras
count,59,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000,59.000000
mean,2019-08-15 16:16:16.271186432,2435.762712,91775.881356,70868.644068,5682.593220,2321.813559,1900.169492,1087.220339,522.000000
min,2019-08-01 00:00:00,1757.000000,22521.000000,10598.000000,2277.000000,1001.000000,848.000000,278.000000,222.000000
25%,2019-08-08 12:00:00,2113.500000,68853.500000,43230.000000,4227.500000,1962.500000,1249.000000,848.500000,340.000000
50%,2019-08-16 00:00:00,2421.000000,95843.000000,76219.000000,5691.000000,2390.000000,1975.000000,1075.000000,501.000000
75%,2019-08-23 00:00:00,2743.000000,117315.000000,95490.500000,7218.500000,2778.500000,2424.000000,1386.500000,693.000000
max,2019-08-30 00:00:00,3112.000000,145248.000000,127852.000000,8264.000000,4891.000000,4219.000000,1913.000000,890.000000
std,NaN,376.358795,32465.070636,31023.653515,1754.777559,669.040576,687.263844,430.205246,196.973917

## Gastos
- Cantidad gastada en la campaña en dólares.

In [37]:
 df.groupby('Campaña').agg({'Gasto':'mean'})

               Gasto
Campaña
Control  2304.068966
Test     2563.066667

In [38]:
# Realizar la prueba t de dos muestras independientes
t_statistic, p_value = ti(df.loc[df['Campaña'] == 'Control', 'Gasto'], 
                                 df.loc[df['Campaña'] == 'Test', 'Gasto'])
# Imprimir los resultados
print("Estadístico t:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico t: -2.793240375594836
Valor p: 0.007093062303374369
Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.

## Impresiones
- Número de impresiones del anuncio a través de la campaña.

In [10]:
 df.groupby('Campaña').agg({'Impresiones':'mean'})

           Impresiones
Campaña
Control  109559.758621
Test      74584.800000

In [28]:
# Realizar la prueba t de dos muestras independientes
t_statistic, p_value = ti(df.loc[df['Campaña'] == 'Control', 'Impresiones'], 
                                 df.loc[df['Campaña'] == 'Test', 'Impresiones'])
# Imprimir los resultados
print("Estadístico t:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico t: 4.884544325740239
Valor p: 8.774394114329258e-06
Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.

## Alcance
- Número de impresiones del anuncio a través de la campaña.

In [11]:
df.groupby('Campaña').agg({'Alcance':'mean'})

              Alcance
Campaña
Control  88844.931034
Test     53491.566667

In [27]:
# Realizar la prueba t de dos muestras independientes
t_statistic, p_value = ti(df.loc[df['Campaña'] == 'Control', 'Alcance'], 
                                 df.loc[df['Campaña'] == 'Test', 'Alcance'])
# Imprimir los resultados
print("Estadístico t:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico t: 5.300379386681559
Valor p: 1.9462081815900474e-06
Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.

## c
-  Número de usuarios que realizaron búsquedas en el sitio web.

In [13]:
df.groupby('Campaña').agg({'Busquedas':'mean'})

           Busquedas
Campaña
Control  2221.310345
Test     2418.966667

In [29]:
# Realizar la prueba de Mann-Whitney U
t_statistic, p_value = mw(df.loc[df['Campaña'] == 'Control', 'Busquedas'],
                                  df.loc[df['Campaña'] == 'Test', 'Busquedas'])

# Imprimir los resultados
print("Estadístico de prueba U:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico de prueba U: 346.0
Valor p: 0.17964361698819864
No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.

## c
- Número de usuarios que vieron contenido y productos en el sitio web.

In [16]:
df.groupby('Campaña').agg({'Vistas':'mean'})

              Vistas
Campaña
Control  1943.793103
Test     1858.000000

In [30]:
# Realizar la prueba t de dos muestras independientes
t_statistic, p_value = ti(df.loc[df['Campaña'] == 'Control', 'Vistas'], 
                                 df.loc[df['Campaña'] == 'Test', 'Vistas'])
# Imprimir los resultados
print("Estadístico t:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico t: 0.47615455602474466
Valor p: 0.6357843704297139
No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.

## Numero de Carritos [c]
- Número de usuarios que agregaron productos al 'carrito'.

In [17]:
df.groupby('Campaña').agg({'NumCarritos':'mean'})

         NumCarritos
Campaña
Control  1300.000000
Test      881.533333

In [31]:
# Realizar la prueba de Mann-Whitney U
t_statistic, p_value = mw(df.loc[df['Campaña'] == 'Control', 'NumCarritos'],
                                  df.loc[df['Campaña'] == 'Test', 'NumCarritos'])

# Imprimir los resultados
print("Estadístico de prueba U:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico de prueba U: 664.0
Valor p: 0.0005312022228449564
Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.

## Compras
- Número de compras.

In [18]:
df.groupby('Campaña').agg({'Compras':'mean'})

            Compras
Campaña
Control  522.793103
Test     521.233333

In [32]:
# Realizar la prueba de Mann-Whitney U
t_statistic, p_value = mw(df.loc[df['Campaña'] == 'Control', 'Compras'],
                                  df.loc[df['Campaña'] == 'Test', 'Compras'])

# Imprimir los resultados
print("Estadístico de prueba U:", t_statistic)
print("Valor p:", p_value)

# Interpretar los resultados
alpha = 0.05
if p_value < alpha:
    print("Se rechaza la hipótesis nula: hay evidencia de diferencias significativas en las medias.")
else:
    print("No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.")

Estadístico de prueba U: 439.0
Valor p: 0.957674926453464
No se puede rechazar la hipótesis nula: no hay suficiente evidencia para afirmar diferencias significativas en las medias.